
/* Progress Bar ---------------------- */
div.progress {
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  height: 25px; /* meter */

  /* border radii */
}
div.progress .meter {
  background: #2ba6cb;
  height: 100%;
  display: block;
  width: 50%;
}
div.progress.secondary .meter {
  background: #e9e9e9;
}
div.progress.success .meter {
  background: #5da423;
}
div.progress.alert .meter {
  background: #c60f13;
}
div.progress.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div.progress.radius .meter {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.progress.round {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}
div.progress.round .meter {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
}